<section class="contacts section" id="contacts">
  <div class="container">
    <h2 class="contacts-title">
      Registration for a <span class="active">free</span> phone
      <span class="active">consultation</span> on the nuances of English UPE
      <!-- <span class="uppercase">UPE</span> -->
    </h2>
    <h3 class="contacts-subtitle">
      Leave a request for participation in a
      <span class="active"><br>free lesson</span>. <br>A consultant will contact you and
      answer your questions
    </h3>
      <form class="contacts-form" name="contact-form">
          <div class="contacts-form-group">
            <label class="contacts-form-field">
                  <input
                    class="contacts-form-input"
                    name="user-name"
                    type="text"
                    required
                    minlength="2"
                    placeholder="name"
                  />
                  <span class="contacts-form-label">Имя&ast;</span>
                  <!-- <svg class="contacts-form-icon" width="20" height="20">
                    <use class="icon-check" href="./img/sprite.svg#icon-check"></use>
                    <use class="icon-alert" href="./img/sprite.svg#icon-alert"></use>
                  </svg> -->
                  <!-- <span class="message-alert">Minimum two characters</span> -->
                </label>
                <label class="contacts-form-field">
                  <input
                    class="contacts-form-input"
                    name="user-phone"
                    type="tel"
                    id="user-phone"
                    required
                    placeholder="+38066122333 "
                  />
                  <span class="contacts-form-label">Телефон&ast;</span>
                </label>

                 <button class="btn contacts-form-btn" type="submit">I want a free lesson</button>
            </form>
          </div>

  </div>
</section>
