<header class="header" id="header">
  <div class="container header-container">
    <a href="index.html" class="header-logo">
      <svg class="header-logo__icon">
        <use href="./images/sprite.svg#logo-black"></use>
      </svg>
    </a>
    <nav class="menu nav-scroll">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#program" class="menu__link">Studying program</a>
        </li>
        <li class="menu__item">
          <a href="#about" class="menu__link active">about</a>
        </li>
        <li class="menu__item">
          <a href="#guarentee" class="menu__link">training options</a>
        </li>
        <li class="menu__item">
          <a href="#contacts" class="menu__link">contacts</a>
        </li>
      </ul>
    </nav>

    <a href="tel:+38000000000" class="menu__button call-back-btn"
      >consultation by phone</a
    >

    <button
      type="button"
      class="menu-mobile__btn menu-mobile__btn-open"
      data-mobile-menu-open
    >
      <svg class="menu-mobile__icon menu-mobile__icon-open">
        <use href="./images/sprite.svg#menu-open"></use>
      </svg>
    </button>
    <div class="menu-mobile is-hidden" id="menu-mobile" data-mobile-menu-modal>
      <div class="container">
        <div class="menu-mobile__wrapper">
          <a href="index.html" class="header-logo">
            <svg class="header-logo__icon">
              <use href="./images/sprite.svg#logo-white"></use>
            </svg>
          </a>
          <button
            type="button"
            class="menu-mobile__btn menu-mobile__btn-close"
            data-mobile-menu-close
          >
            <svg class="menu-mobile__icon menu-mobile__icon-close">
              <use href="./images/sprite.svg#menu-close"></use>
            </svg>
          </button>
        </div>
        <ul class="mobile-menu__list nav-scroll">
          <li class="mobile-menu__item">
            <a href="#program" class="mobile-menu__link">Studying program</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#about" class="mobile-menu__link">About</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#guarentee" class="mobile-menu__link">Training options</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#contacts" class="mobile-menu__link">Contacts</a>
          </li>
        </ul>
        <a href="tel:+38000000000" class="mobile-menu__button call-back-btn">
          consultation by phone
        </a>
      </div>
    </div>
  </div>
</header>
