<section class="hero section">

    <div class="container hero-container">
        <div class="hero-position">
            <h1 class="hero__title">
                Complex preparation for English UPE
            </h1>
            <ul class="hero-list">
                <li class="hero-list__item">It won’t be easy.</li>
                <li class="hero-list__item hero-list__tab">But you’re guaranteed to get</li>
                <li class="hero-list__item hero-list__tab">+25 points</li>
                <li class="hero-list__desk">But you are guaranteed to get +25 points</li>
            </ul>
            <button class="hero__btn btn" type="button">
                I want a free lesson
            </button>
            <div>
                <img class="hero__img" srcset="
                            ../images/hero/hero-mob1x.png 320w,
                            ../images/hero/hero-tablet1x.png 768w,
                            ../images/hero/hero-desktop1x.png 1366w" sizes="(min-witdth: 1366px) 1842px, 
                                        (min-witdth: 768px) 370px, 
                                        (min-witdth: 320px) 208px, 100vw" src="../images/hero/hero-tablet1x.png"
                    alt="hero" />
            </div>
        </div>
    </div>
</section>