<section class="problems section">
  <div class="container">
    <h2 class="problems__title">
      The&nbsp;main&nbsp;problems of&nbsp;students in&nbsp;English&nbsp;UPE,&nbsp;which we&nbsp;<span class="active">help</span>&nbsp;to&nbsp;solve
    </h2>
    <ul class="problems__list">
      <li class="problems__item">Grammar</li>
      <li class="problems__item">Inability to understand spoken English</li>
      <li class="problems__item">Stingy vocabulary for writing an essay</li>
      <li class="problems__item">Preparing alone</li>
      <li class="problems__item">Lack of a single knowledge resource</li>
      <li class="problems__item">Lack of self-organization and laziness</li>
    </ul>
  </div>
</section>
