.container {
  outline: 2px solid red;
  margin: 0 auto;
  max-width: 320px;
  @include mq(mob) {
    max-width: 480px;
    padding: 0 20px;
  }
  @include mq(tab) {
    padding: 0 20px;
    max-width: 768px;
  }
  @include mq(desk) {
    padding: 0 26px;
    max-width: 1366px;
  }
}

.about {
  //   @include section;

  //   @include mq(tab) {
  //     @include section(70px, 70px);
  //   }

  //   @include mq(desk) {
  //     @include section(130px, 129px);
  //   }
  max-width: 320px; // убрать
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.about__title {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  @include mq(tab) {
    color: blue;
  }

  @include mq(desk) {
    font-weight: 800;
    font-size: 46px;
    line-height: calc(60 / 46);
  }
}

.about-img {
  margin-bottom: 24px;
}
.about-content {
  @include mq(tab) {
    max-width: 403px;
  }
  @include mq(desk) {
    max-width: 642px;
  }
}

.about-subtitle {
  position: relative;
  font-weight: 800;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.08em;
  // display: block;
  margin-bottom: 10px;

  // border-bottom: 1px solid #b9b9b9;
  // bottom: auto;
  // width: 100%;

  @include mq(tab) {
    color: blue;
  }

  @include mq(desk) {
    font-weight: 800;
    font-size: 30px;
    line-height: calc(37 / 30);
    color: green;
  }
}

// .about-subtitle::after {
//   content: '';

//   position: absolute;
//   height: 2px;
//   background-color: red;

//   content: '';

//   left: 0px;
//   width: 80px;
//   height: 1px;

//   border-bottom: 1px solid #b9b9b9;
//   bottom: 10px;
//
// }

.about__item {
  position: relative;

  &::before {
    position: absolute;

    content: '';
    display: inline-block;
    left: 0px;
    top: 50%;

    width: 18px;
    height: 14px;

    background-image: url('../images/about/icon.svg');
    background-size: 18px 14px;
  }

  &:last-child::before {
    position: absolute;

    content: '';
    display: inline-block;
    left: 0px;
    top: 25%;

    width: 18px;
    height: 14px;

    background-image: url('../images/about/icon.svg');
    background-size: 18px 14px;
  }
}

.about__desc {
  padding-left: 27px;
  padding-top: 20px;
  min-width: 280px;

  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.content__text {
  margin: 20px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(20 / 12);
}

.about__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.06em;

  text-decoration: underline;
  color: var(--accent-color);
}

.about-list {
  border-top: 1px solid var(--main-text-color);
  margin-bottom: 20px;
  // width: 100%;
}

.content {
  // padding-bottom: 20px;
  // display: block;
  &:before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--accent-color);
  }
}
.content-text:after {
  content: 'fff';
  display: block;
  width: 20px;
  height: 6px;
  color: aqua;
  color: var(--accent-color);
  margin-bottom: 20px;
}
