.advant{
  padding-bottom: 130px;
}

.advant__list {
  @include mq(tab) {
    display: flex;
    gap: 31px;
  }
}

.advant__item {
  display: flex;
  align-items: center;
  max-width: 215px;
  margin: 0 auto;

  line-height: 1.65;
  letter-spacing: 0.08em;

  color: var(--title-color);

  @include mq(tab) {
    margin: 0;
  }

  @include mq(desk) {
    padding-right: 19px;
    max-width: 417px;
    width: 100%;
    font-size: 20px;
  }
}

.advant__item--icon1::before {
  content: '';
  background-image: url('../images/advantages/advant1.svg');
  background-repeat: no-repeat;
  width: 62px;
  height: 62px;
  margin-right: 8px;
  flex-shrink: 0;

  @include mq(tab) {
    margin-right: 11px;
  }

  @include mq(desk) {
    background-image: url('../images/advantages/advant-lg1.svg');
    margin-right: -18px;
    width: 102px;
    height: 102px;
  }
}

.advant__item:not(:last-child) {
  margin-bottom: 30px;

  @include mq(tab) {
    margin-bottom: 0;
  }
}

.advant__item--icon2::before {
  content: '';
  background-image: url('../images/advantages/advant2.svg');
  background-repeat: no-repeat;
  width: 62px;
  height: 62px;
  margin-right: 8px;
  flex-shrink: 0;

  @include mq(tab) {
    margin-right: 11px;
  }

  @include mq(desk) {
    background-image: url('../images/advantages/advant-lg2.svg');
    margin-right: -18px;
    width: 102px;
    height: 102px;
  }
}

.advant__item--icon3::before {
  content: '';
  background-image: url('../images/advantages/advant3.svg');
  background-repeat: no-repeat;
  width: 62px;
  height: 62px;
  margin-right: 8px;
  flex-shrink: 0;

  @include mq(tab) {
    margin-right: 11px;
  }

  @include mq(desk) {
    background-image: url('../images/advantages/advant-lg3.svg');
    margin-right: -18px;
    width: 102px;
    height: 102px;
  }
}
