.advantages__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.advantages__subtitle{
display: flex;
align-items: center;
gap: 8px;
width: 214px;


    font-size: 14px;
line-height: 165%;
/* or 23px */

&::before{
    content: '';

    width: 62px;
    height: 62px; 
    flex-shrink: 0; 
}

&--first::before{
    background-image: url(../images/advantages/advantage1.svg);
} 

&--second::before{
    background-image: url(../images/advantages/advantage2.svg);
} 

&--third::before{
    background-image: url(../images/advantages/advantage3.svg);
} 
}
