.contacts {
  // @extend %section;
  padding: 55px 0;

  max-width: 1366px; // узнать
  margin-left: auto;
  margin-right: auto;

  background-color: var(--secondary-background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  // mobile screen
  background-image: url(../images/contacts/registration-bg_sm.png);

  // mobile retina screen
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/contacts/registration-bg_sm@2x.png);
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    background-image: url(../images/contacts/registration-bg_md.png);
    // tablet retina screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/contacts/registration-bg_md@2x.png);
    }
  }

  // desktop screen
  @media screen and (min-width: 1366px) {
    background-image: url(../images/contacts/registration-bg_lg.png);
    // desktop retina screen
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/contacts/registration-bg_lg@2x.png);
    }
  }
}
.contacts-title {
  // margin-top: 55px;
  min-width: 280px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 800;
  font-size: 14px;
  line-height: 1.3;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--white-color);

  @include mq(tab) {
    min-width: 625px;
    font-size: 26px;
    line-height: calc(34 / 26);
  }

  @include mq(desk) {
    min-width: 980px;
    margin-bottom: 50px;

    font-size: 46px;
    line-height: calc(60 / 46);
  }
}

.contacts-subtitle {
  min-width: 280px;
  margin-bottom: 43px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-align: center;
  letter-spacing: 0.08em;

  color: var(--white-color);

  @include mq(tab) {
    min-width: 545px;
    margin-bottom: 40px;

    font-size: 16px;
    line-height: calc(20 / 16);
  }

  @include mq(desk) {
    min-width: 1090px;
    margin-bottom: 56px;

    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.contacts-form {
  width: 280px;
  margin-right: auto;
  margin-left: auto;

  // padding-right: 20px;
  // padding-left: 20px;
}

// .contacts-form-group {
//   display: block;
//   flex-direction: column;
//   &:not(:last-child) {
//     margin-bottom: 20px;
//   }
//   // gap: 20px;

//   // margin-bottom: 50px;
// }

.contacts-form-field {
  position: relative;
  display: block;
}

// .contacts-form-field:first-child {
//   background-color: green;
//   margin-bottom: 20px;
// }

// .contacts-form-field:last-child {
//   display: block;
//   background-color: red;
//   color: red;
//   margin-bottom: 50px;
// }

.contacts-form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.contacts-form-input {
  width: 100%;
  height: 48px;
  padding-left: 28px;
  padding-right: 20px;

  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.08em;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--white-color);

  outline: transparent;
  transition: border-color var(--animation); //which color of border
}

.contacts-form-input:focus,
.contacts-form-input:not(:placeholder-shown) l {
  border-color: green; // which?
}

// .contacts-form-input:required:focus:valid:not(:placeholder-shown),
// .contacts-form-input:required:valid:not(:placeholder-shown) {
//   border-color: rgb(0, 109, 0);
// }

// .contacts-form-input:required:focus:invalid:not(:placeholder-shown) {
//   border-color: rgb(255, 230, 0);
// }

.contacts-form-input::placeholder {
  opacity: 1;
  transition: opacity var(--animation) 50ms;
}

.contacts-form-input:focus::placeholder {
  opacity: 1;
}

.contacts-form-label {
  position: absolute;

  top: 25%;
  left: 28px;

  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 11);
  letter-spacing: 0.08em;

  color: var(--white-color);

  transition: color var(--animation);
  transform: var(--animation);
  //   transform-origin: top left; // или убирать наверх совсем слева прямо по краю инпута и не уменьшая буквы
}

.contacts-form-input:focus + .contacts-form-label,
.contacts-form-input:not(:placeholder-shown) + .contacts-form-label {
  //   border-color: green; // which?
  //   color: red;
  transform: translateY(-31px) translateX(-28px) scale(0.9);
}

// .icon-alert {
//   opacity: 0;
//   fill: rgb(255, 230, 0);
//   transition: opacity var(--anim-fast);
// }
// /* невалідні дані */
// .contacts-form-input:required:focus:invalid:not(:placeholder-shown)
//   ~ .contacts-form-icon
//   .icon-alert {
//   opacity: 1;
// }
// /* валідні дані */
// .contacts-form-input:required:focus:valid:not(:placeholder-shown)
//   ~ .contacts-form-icon
//   .icon-check,
// .contacts-form-input:required:valid:not(:placeholder-shown)
//   ~ .contacts-form-icon
//   .icon-check {
//   opacity: 1;
// }

// .message-alert {
//   position: absolute;
//   bottom: -18px;
//   left: 0;
//   font-weight: 600;
//   font-size: 11px;
//   line-height: calc(15 / 11);
//   letter-spacing: 0.1em;
//   color: rgb(255, 230, 0);

//   opacity: 0;
//   transition: opacity var(--anim-fast);
// }

// .contacts-form-input:required:focus:invalid:not(:placeholder-shown)
//   ~ .message-alert {
//   opacity: 1;
// }

// .contacts-form-message {
//   position: relative;
//   display: block;
//   margin-bottom: 44px;
// }

// базовые стили кнопки переписать
.btn {
  //   margin-top: 55px;
  margin-right: 10px;
  margin-left: 10px;
  //   margin-top: 35px;

  //   display: inline-flex;
  //   align-items: center;
  height: 48px;
  width: 260px;
  font-family: inherit;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.08em;
  color: var(--white-color);
  text-transform: uppercase;

  border: none;

  background-color: var(--accent-color);
}
