.guarantee--list{
    background-color: var(--main-background);
    padding: 45px 20px;
}

.guarantee__title{
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 26px;
line-height: calc(34/26);
/* or 34px */

text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
padding-bottom: 30px;
}

.guarantee__item{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: var(--secondary-text-color);
    border-left: 2px dashed var(--main-text-color);

   &::after{
            content: "";
            position: absolute;
            width: 28px;
            height: 14px;
            background-image: url("./images/sprite.svg#campfire");
            transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}


.guarantee__list{
    color:green;
}

.guarantee__list:not(:last-child){
    margin-bottom: 20px;
}

.guarentee__accent{
    color: var(--accent-color);
}