.hero {

    &-position {
        position: relative;
    }
    @media screen and (max-width: 767px) {
        padding-top: 93px;
    }

    @include mq(tab) {
        padding-top: 158px;
        background-image:
            url(../images/hero/wave-tablet.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    @include mq(desk) {
        background-image:
            url(../images/hero/wave-desktop.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &-container {
        @include mq(tab) {
            display: flex;
        }
    }

    &__title {
        font-weight: 800;
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: 0.03em;




        @include mq(tab) {
            width: 320px;
        }

        @include mq(desk) {
            font-size: 58px;
            width: 530px;
        }

    }

    &-list {
        margin-top: 8px;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(22/14);
        align-items: center;

        &__item:nth-child(1) {
            font-weight: 500;
            color: var(--main-text-color);

            @media screen and (min-width: 1680px) {
                font-size: 20px;
                ;
            }

        }

        &__item:nth-child(3) {
            color: var(--accent-color);
        }

        @media screen and (min-width: 768px) and (max-width: 1679px) {
            margin-top: 15px;
        }

        &__desk {
            @media screen and (max-width: 1366px) {
                display: none;
            }

            font-size: 20px;
            line-height: calc(33/20);
        }

        &__tab {
            @media screen and (min-width: 1366px) {
                display: none;
            }
        }

    }

    &__btn {

        @include mq(mob) {
                margin-top: 54px;
                margin-bottom: 67px;
            }

        @include mq(tab) {
            margin-top: 45px;
            margin-bottom: 129px;
            margin-left: 0;
        }

        @include mq(desk) {
            width: 354px;
            height: 70px;
            margin-bottom: 242px;
        }
    }

    &__img {

        @media screen and (min-width: 200px) {
            width: 208px;
            max-width: none;
            margin: 0 auto;
        }

        @include mq(tab) {
            width: 370px;
            left: 308px;
            top: -3px;
            position: absolute;
        }

        @include mq(desk) {
            width: 842px;
            left: 538px;
            top: -3px;
        }

    }
}
